@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bonheur+Royale&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

.week1-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   
}

/* the blue color to use 2B5972
background of cards F6F8F9
 */
 


.FirstInputs {
    display: flex;
    padding-top:2%;
    gap:3%;
    font-size:16px;
    font-weight:400;
}


#date
{
width:100%;
border: 1px solid #DEE2E6;
}

/* .expandable-input {
    position: relative;
    width: 200px;
} */
/* 
#inputField {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
} */

.Date{
    display:flex;
    flex-direction: column;
}

.W-Mid-1,
.W-Mid-2,
.W-Mid-3{
    padding-top:2%;
    margin-left:5%;
    color:#2B5972;
    font-size:20px;
    font-weight:600;
    display:flex;
}

.W-Top,
.W-Second,
.W-Third,
.W-Last{
    margin-top:1%;
    margin-left:5%;
    width:80%;
    padding-bottom:2%;
    padding-left:1%;
    padding-right:1%;
    background-color:#F6F8F9;
}

/* .Fourth{
    height:450px;
} */

/* #editor-container,
#editor-container-2 {
height:300px;
} */

.W-Subtitle-1,
.W-Subtitle-2,
.W-Subtitle-3{
    padding-top:2%;
    padding-bottom:1%;
}



/* for the buttons inside textbox */
/* .ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    background: none;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    padding: 3px 5px;
    width: 28px;
}

.ql-toolbar.ql-snow .ql-picker-label {
    border: 1px solid black;
  } */

  /* #BtnSave,
  #BtnCompleted{
    padding:10px;
    padding-left:15px;
    padding-right:15px;
  } */

 
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 15px; */
  }
  button {
    height: 28px;
    width: 28px;
    display: grid;

    border-radius: 4px;
    border: none;
    background-color: transparent;
    outline:none;
    border: 1px solid white;
    color: #020929;
  }
  select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 4px;
  }
  .options label,
  .options select {
    font-family: "Poppins", sans-serif;
  }
  /* .input-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
  } */
  input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 30px;
    height: 26px;
    border: none;
    cursor: pointer;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px black;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  #text-input {
    margin-top: 10px;
    min-height:300px;
    border: none;
    outline:none;
    margin-bottom:20px;
  }
  .active {
    background-color: #e0e9ff;
  }

  .week1-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center; 
}

.W-Second,
.W-Third {
    width: 80%; 
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
 
    background-color: #f8f9fa;
}

.W-Second .WT-container,
.W-Third .WT2-container
 {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #CED4DA;
}

.W-Second .options,
.W-Third .options {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
    padding-top:10px;
    padding-left:10px;
    border-bottom: 1px solid #CED4DA;
}

.W-Second #text-input,
.W-Third #text-input {
    flex: 1; 
    width: 95%;
    /* padding: 10px; */
    margin-left:2%;
    overflow-y: auto;
    box-sizing: border-box;
}

.W-Last{
  padding-bottom:400px;
  margin-bottom:10px;

}
