@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bonheur+Royale&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;

}

.week1-container {
  display: flex;
  flex-direction: column;
  height:100%;
   
}

/* the blue color to use 2B5972
background of cards F6F8F9
 */
 
 .W-ExpandableBox{
  width:100%;
  
 }


.FirstInputs {
    display: flex;
    padding-top:2%;
    gap:6%;
    font-size:16px;
    font-weight:400;
}

#date,
.form-select
{
  font-size: 13px;
  padding:10px;
  width:90%;
  border-radius: 4px;
border: 1px solid #DEE2E6;
cursor:pointer;
outline:none;
}

/* .expandable-input {
    position: relative;
    width: 200px;
} */
/* 
#inputField {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
} */

.Shift,
.Department,
.Section,
.Date{
  width:25%;
    display:flex;
    flex-direction: column;
}

.W-Mid-1,
.W-Mid-2,
.W-Mid-3{
    padding-top:2%;
    margin-left:5%;
    color:#2B5972;
    font-size:20px;
    font-weight:600;
    display:flex;
}

.W-Top,
.W-Second,
.W-Third,
.W-Last{
    margin-top:1%;
    margin-left:5%;
    width:90%;
    padding-bottom:2%;
    padding-left:1%;
    padding-right:1%;
    background-color:#F6F8F9;
}

/* .Fourth{
    height:450px;
} */

/* #editor-container,
#editor-container-2 {
height:300px;
} */

.W-Subtitle-1,
.W-Subtitle-2,
.W-Subtitle-3{
    padding-top:2%;
    padding-bottom:1%;
}
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .W-Second button,
  .W-Third button {
    height: 28px;
    width: 28px;
    display: grid;
    align-items: center;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    outline:none;
    border: 1px solid white;
    color: #020929;
  }
  .W-Second select,
  .W-Third select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 4px;
  }
  .W-Second .options label,
  .W-Second .options select,
  .W-Third .options label,
  .W-Third .options select {
    font-family: "Poppins", sans-serif;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .W-Second input[type="color"],
  .W-Third input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 30px;
    height: 26px;
    border: none;
    cursor: pointer;
  }
  .W-Second input[type="color"]::-webkit-color-swatch,
  .W-Third input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px black;
  }
  .W-Second input[type="color"]::-moz-color-swatch,
  .W-Third input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  .W-Second #text-input1 ,
  .W-Third #text-input2 {
    margin-top: 10px;
    min-height:300px;
    border: none;
    outline:none;
    margin-bottom:20px;
  }
  .W-Second .active,
  .W-Third .active {
    background-color: #e0e9ff;
  }

  .week1-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center; 
}

.W-Second,
.W-Third {
    width: 90%; 
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
 
    background-color: #f8f9fa;
}

.W-Second .WT-container,
.W-Third .WT2-container
 {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #CED4DA;
}

.W-Second .options,
.W-Third .options {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
    border-bottom: 1px solid #CED4DA;
}

.W-Second #text-input1,
.W-Third #text-input2 {
    flex: 1; 
    width: 95%;
    /* padding: 10px; */
    margin-left:2%;
    overflow-y: auto;
    box-sizing: border-box;
}


.W-LBtn {
  width: 250px;
  height: 199px;
  border: dotted;
  outline: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.W-LImgInserted {
  /* position: absolute; */
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  z-index: 0;
  width: 250px;
  height: 199px;
  
}

.W-LImg{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:10px;
}

.LImgContainer{
  display:flex;
  flex-direction: column;
}

#TextUnderImage{
margin-top:10px;
min-width:100%;
overflow:auto;
min-height:40px;
outline:none;
border-radius:4px;
max-height:40px;
border-color: #DADDE1;

}